<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
</head>
<body>
    <h1>Home</h1>
    <div class="game_nav">
    <p>ゲーム一覧</p>  
    <ul>
        <li>
            <a href="{% url 'othello_game' %}">オセロゲーム</a>
        </li>
        <li>
            <a href="">チェスゲーム</a>
        </li>
    </ul>
    </div>
</body>
</html>