<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Account{% endblock %}</title>
    <link href="{% static 'accounts/css/base.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div id="gear-menu">
        <div class="gear-button" id="gear-button"></div>
        <ul class="gear-menu-list" id="gear-menu-list">
            <li><a href="{% url 'index' %}"><span class="icon"></span>Home</a></li>
            <li><a href="{% url 'signup' %}"><span class="icon"></span>Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="icon"></span>Log In</a></li>
            <li><a href="{% url 'profile' %}"><span class="icon"></span>Profile</a></li>
        </ul>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const gearButton = document.getElementById('gear-button');
            const gearMenuList = document.getElementById('gear-menu-list');

            gearButton.addEventListener('click', () => {
                gearMenuList.classList.toggle('active'); // メニュー表示・非表示切り替え
            });

            // メニュー外をクリックすると閉じる
            document.addEventListener('click', (event) => {
                if (!gearButton.contains(event.target) && !gearMenuList.contains(event.target)) {
                    gearMenuList.classList.remove('active');
                }
            });
        });
    </script>
</body>
</html>
