{% extends 'game/base.html' %}
{% load static %}
{% block title %}Othello Game{% endblock %}

{% block content %}
<h1>Othello Game</h1>

<div id="othello-board">
    <table>
        {% for row in board %}
        <tr>
            {% for cell in row %}
            <td id="cell-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                class="cell {% if cell == 'black' %}black{% elif cell == 'white' %}white{% endif %}">
                {% if cell == 'black' %}
                    ⚫
                {% elif cell == 'white' %}
                    ⚪
                {% elif cell == 'None' %}
                    &nbsp;
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<p>Current Turn: <span id="current-turn">{{ current_turn }}</span></p>

<script src="{% static 'game/js/othello.js' %}"></script>
{% endblock %}


